header{
    background-color: black;
    display: flex;
    justify-content: space-evenly;
}

a{
    display: flex;
    display: inline-block;
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 650;
    background-color: black;
    padding: 20px 35px;
    margin: 2px 2px;
    color: white;
    text-decoration: none;
}

main{
    display: flex;
    justify-content: center;
}

body{
    background-color: whitesmoke;
}

h1{
    text-decoration-line: underline;
    text-decoration-style: double;
    color: green;
    font-family:'Brush Script MT';
    font-size: 55px;
    text-align: center;
}

h2{
    display: flex;
    padding-left: 15px;
}

h3{
    font-size: 35px;
}

p{
    font-size: 20px;
}

.pagina{
    max-width: 1100px;
}

.form{
    display: flex;
    width: 450px;
    margin: auto;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    }

.container-form h4{
    color: black;
    text-align: center;
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 0px;
    margin-right: 150px;
}

input, textarea{
    width: 100;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
}
.container-form{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
    margin-top: 90px;
}
.container-form a{
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
    background-color: whitesmoke;
}
.container-form i{
    color: green;
    margin-right: 10px;
}
.container-form form .campo, textarea{
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid; 
    margin-bottom: 20px;
    margin-top: 27px;
    border-radius: 3px;
    outline: 0px;
}
.container-form form textarea{
    max-width: 530px;
    min-width: 530px;
    min-height: 140px;
    max-height: 150px;
}
.container-form .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: green;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms;
    }

article{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
}

article img{
    width: 450px;
    height: 300px;
    margin-left: 35px;
}

@media only screen and (max-width: 900px){
    article{
        flex-direction: column;
    }
    article img{
        width: 100%;
        height: auto;
        margin: 0;
    }
    header{
        flex-direction: column;
    }
    .container-form{
        display: flex;
        flex-direction: column;
    }
}